<section class="portfolio">
    <div class="portfolio-header">
        <h2 class="text-center text-uppercase">Nasze poprzednie realizacje</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <img class="rounded img-fluid portfolio-img" src="~/Content/Photo/inwestycja-1-mod.jpg" alt="Inwestycja 1">
                <span class="text-uppercase page-label text-danger">Inwestycja</span>
                <h3 class="text-uppercase portfolio-subheader">Biurowiec</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem eveniet in sint a inventore dolor nulla dolorum repudiandae voluptas commodi minus porro aspernatur, itaque nemo vel quibusdam nobis reiciendis</p>

            </div>
            <div class="col-md">
                <img class="rounded img-fluid portfolio-img" src="~/Content/Photo/inwestycja-2-mod.jpg" alt="Inwestycja 2">
                <span class="text-uppercase page-label text-danger">Inwestycja</span>
                <h3 class="text-uppercase portfolio-subheader">Osiedle mieszkaniowe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem eveniet in sint a inventore dolor nulla dolorum repudiandae voluptas commodi minus porro aspernatur, itaque nemo vel quibusdam nobis reiciendis</p>

            </div>
        </div>
        <div class="col-md">
            <img class="rounded img-fluid portfolio-img" src="~/Content/Photo/Plan.jpg" alt="Inwestycja 2" style="height:400px; width:100%">
            <span class="text-uppercase page-label text-danger">Inwestycja</span>
            <h3 class="text-uppercase portfolio-subheader">Osiedle mieszkaniowe</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem eveniet in sint a inventore dolor nulla dolorum repudiandae voluptas commodi minus porro aspernatur, itaque nemo vel quibusdam nobis reiciendis
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda voluptatem eveniet in sint a inventore dolor nulla dolorum repudiandae voluptas commodi minus porro aspernatur, itaque nemo vel quibusdam nobis reiciendis
            </p>

        </div>
    </div>
</section>
